<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>compilers</title>
</head>

<body>
    <div class="main">
        <h1>MySQL CONVERTER</h1>

        <div class="form"> <form action="/" method="post">
            <label for="textarea" class="tbody">Type Here !! <br></label>
            <textarea class="input" id="textarea" name="command1" placeholder="Enter your text..."></textarea>
            <button button class="btn-shine" type="submit">Submit</button>
        </form></div>
    </div>
</body>

</html>